#!/bin/bash

# Vimrc Shortcut
alias vrc="vim ~/.vimrc"

# Clear
alias c="clear"

# Git
alias gs="git status --short"
alias gd="git diff"
alias gl="git log --oneline --graph"

# Colored ls
if ls --color &> /dev/null; then
    alias ls="ls --color=auto"
else
    alias ls="ls -G"
fi

# Colored grep
alias grep="grep --color=auto"
