#!/bin/bash

# Vimrc Shortcut
alias vrc="vim ~/.vimrc"

# zshrc Shortcut
alias vzrc="vim ~/.zshrc"

# Clear
alias c="clear"

# Git
alias gs="git status --short"
alias gd="git diff"
alias gl="git log --oneline --graph"
alias glp="git log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %C(auto)%s%Creset %C(green)(%cr)%Creset %C(blue)%an%Creset'"


# Colored ls
if ls --color &> /dev/null; then
    alias ls="ls --color=auto"
else
    alias ls="ls -G"
fi

# Colored grep
alias grep="grep --color=auto"
