#!/bin/bash

# Make vim the default editor
export EDITOR="vim"

if ! [[ -v GIT_EDITOR ]]; then
    export GIT_EDITOR="vim"
fi

# Customize history
# export HISTTIMEFORMAT="%h %d %Y %H:%M "
# export HISTSIZE=16384
# export HISTFILESIZE="$HISTSIZE"
