[core]

    excludesfile = ~/.gitignore

[color "status"]

    added = green 
    changed = yellow
    untracked = red
    branch = white

[include]

    # Load local config
    # https://git-scm.com/docs/git-config#_includes

    path = ~/.gitconfig.local

[init]

	defaultBranch = main
